<template>
  <div>
    <div id="div1">
      <h1>Add Task</h1>
    </div>
    <form id="form1">
      <h3>Enter Task :</h3>
      <input
        id="text1"
        type="text"
        placeholder="Enter task"
        name="task"
        v-model="task.name"
      />

      <div>
        <h3>Priority :</h3>
        <input
          type="radio"
          name="radiobutton"
          value="high"
          class="radio"
          id="high"
          v-model="task.proirty"
        />high
        <input
          type="radio"
          name="radiobutton"
          value="medium"
          class="radio"
          id="medium"
          v-model="task.proirty"
        />medium
        <input
          type="radio"
          name="radiobutton"
          value="low"
          class="radio"
          id="low"
          v-model="task.proirty"
        />low

        <br />
      </div>

      <button type="submit" id="button1" v-on:click="addtask()">
        <router-link id="addlink" to="/">Add Task </router-link>
      </button>
      <button id="button2">
        <router-link id="showlink" to="/">Showdata</router-link>
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "AddTasks",
  props: ["tasks"],
  data() {
    return {
      task: {
        name: "",
        proirty: "",
        status: "undone",
      },
    };
  },
  methods: {
    //Add Tasks
    addtask() {
      this.tasks.push(this.task);
      console.log(this.task);
    },
  },
};
</script>

<style scoped>
#div1 {
  /* margin-left: 20px; */
  background-color: indianred;
  width: 100%;
  color: white;
  text-align: center;
}
h1 {
  padding: 10px;
}
#form1 {
  border: 1px solid white;
  box-shadow: -6px 9px 17px 1px rgba(24, 23, 23, 0.5);
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: rgb(253, 224, 229);
}
#text1 {
  height: 30px;
  width: 400px;
  margin-top: 10px;
}
h3 {
  margin-top: 30px;
}
.radio {
  margin-left: 30px;
}
#button1 {
  margin-top: 40px;
  background-color: rgb(25, 21, 214);
  border: 1px solid rgb(51, 19, 196);
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 100px;
  font-size: 15px;
}
#button2 {
  margin-top: 40px;
  background-color: rgb(219, 74, 21);
  border: 1px solid rgb(219, 74, 21);
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 100px;
  margin-left: 10px;
  font-size: 15px;
}
#showlink {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#addlink {
  text-decoration: none;
  font-size: 15px;
  color: white;
}
</style>