<template>
  <div>
    <div id="div1">
      <h1>
        To-Do List
        <button id="addtask">
          <router-link id="link" to="/AddTasks">AddTask</router-link>
        </button>
      </h1>
    </div>

    <table>
      <tr>
        <th colspan="2">TaskName</th>
        <th>Priority</th>
        <th>Status</th>
        <th colspan="2">Action</th>
      </tr>

      <tr v-for="(task, index) in tasks" :key="index">
        <td>
          <input
            type="checkbox"
            name="checkbox1"
            v-bind:value="task.status"
            v-model="task.status"
          />
        </td>
        <td
          class="td1"
          :class="{ selected: task.status == 'done' || task.status == true }"
        >
          {{ task.name }}
        </td>
        <td class="td1">{{ task.proirty }}</td>
        <td class="td1">{{ task.status | checked }}</td>
        <td>
          <button id="delete" @click="deletetask(index)">Delete</button>
          <button id="update" v-on:click="passdata(index)">Update</button>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import FilterMixin from "../Mixins/FilterMixin";
export default {
  name: "Home",
  props: ["tasks"],
  mixins: [FilterMixin],

  data() {
    return {
      checked: false,
    };
  },

  //beforeupdate status automaticalliy undone
  beforeUpdate() {
    for (let i = 0; i < this.tasks.length; i++) {
      if (this.tasks[i].status == "undone") {
        this.tasks[i].status = false;
      }
    }
  },
  // filters: {
  //   checked: function (val) {
  //     if (val == true) {
  //       return "done";
  //     }
  //     if (val == false) {
  //       return "undone";
  //     }
  //     if (val == "done") {
  //       return "done";
  //     }
  //     if (val == "undone") {
  //       return "undone";
  //     }
  //   },
  // },

  methods: {
    //delete task
    deletetask(index) {
      this.tasks.splice(index, 1);

      alert("Are you want to delete?");
    },
    //pass all tasks data to update page
    passdata(index) {
      let a = "/Update/" + index;
      this.$router.push(a);
    },
  },
};
</script>

<style scoped>
#div1 {
  /* margin-left: 20px; */
  background-color: indianred;
  width: 100%;
  color: white;
  text-align: center;
}
h1 {
  padding: 10px;
}
th {
  padding-left: 10px;
  font-size: 20px;
}
table {
  margin: 50px auto;

  width: 100%;
}
.td1 {
  padding: 25px;
  font-size: 20px;
}
#delete {
  margin-left: 30px;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
}
#update {
  margin-left: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  background-color: green;
  border: 1px solid green;
  color: white;
  border-radius: 5px;
}
#addtask {
  margin-left: 800px;

  background-color: rgb(15, 68, 88);
  border: 1px solid rgb(12, 58, 77);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
tr {
  margin: auto;
}
#link {
  text-decoration: none;
  color: white;
}
.selected {
  text-decoration: line-through;
}
</style>