<template>
  <div>
    <div id="div1">
      <h1>Update Task</h1>
    </div>
    <form id="form1">
      <h3>Enter Task :</h3>
      <input
        id="text1"
        type="text"
        placeholder="Enter task"
        v-model="task.name"
      />

      <div>
        <h3>Priority :</h3>
        <input
          type="radio"
          name="radiobutton"
          value="high"
          class="radio"
          id="high"
          v-model="task.proirty"
        />high
        <input
          type="radio"
          name="radiobutton"
          value="medium"
          class="radio"
          id="medium"
          v-model="task.proirty"
        />medium
        <input
          type="radio"
          name="radiobutton"
          value="low"
          class="radio"
          id="low"
          v-model="task.proirty"
        />low
      </div>

      <button v-on:click="updatetask()">
        <router-link id="updatelink" to="/">UpdateTask </router-link>
      </button>

      <button id="showdata">
        <router-link id="showlink2" to="/">Showdata</router-link>
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Update",
  props: ["tasks"],
  data() {
    return {
      index: this.$route.params.index,
      task: {
        name: "",
        proirty: "",
        status: "undone",
      },
    };
  },
  created() {
    this.task = this.tasks[this.index];
  },
  methods: {
    updatetask() {
      this.tasks[this.index] = this.task;
      alert("Data is updated");
    },
  },
};
</script>

<style scoped>
#div1 {
  /* margin-left: 20px; */
  background-color: indianred;
  width: 100%;
  color: white;
  text-align: center;
}
h1 {
  padding: 10px;
}
#form1 {
  border: 1px solid white;
  box-shadow: -6px 9px 17px 1px rgba(24, 23, 23, 0.5);
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: rgb(253, 224, 229);
}
#text1 {
  height: 30px;
  width: 400px;
  margin-top: 10px;
}
h3 {
  margin-top: 30px;
}
.radio {
  margin-left: 30px;
}
button {
  margin-top: 40px;
  background-color: rgb(67, 156, 26);
  border: 1px solid rgb(29, 167, 71);
  color: white;
  border-radius: 5px;
  padding: auto;
  height: 50px;
  width: 100px;
  font-size: 15px;
}
#showdata {
  margin-top: 40px;
  background-color: rgb(219, 74, 21);
  border: 1px solid rgb(219, 74, 21);
  color: white;
  border-radius: 5px;
  padding: auto;
  height: 50px;
  width: 100px;
  font-size: 15px;
  margin-left: 10px;
}
#showlink2 {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#updatelink {
  text-decoration: none;
  /* background-color: rgb(67, 156, 26);
  border: 1px solid rgb(29, 167, 71); */
  color: white;
  /* border-radius: 5px; */
  font-size: 15px;
  /* padding: 15px;
  height: 100px;
  width: 70px; */
}
</style>