<template>
  <div id="app">
    <router-view :tasks="tasks"> </router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      tasks: [
        {
          name: "ami",
          proirty: "high",
          status: "",
        },
        {
          name: "nirali",
          proirty: "low",
          status: "",
        },
        {
          name: "anjali",
          proirty: "medium",
          status: "",
        },
        {
          name: "arti",
          proirty: "low",
          status: "",
        },
      ],
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
